body{
	margin: 0;
	font-family: Georgia,Times New Roman,Times,serif;
}
section{
	min-height: 100vh;
}
section div{
	text-align: center;
	width: 70%;
	padding-left: 15%;
	margin: 0;
	padding-bottom: 20vh;
}
a{
	text-decoration: none;
	color:#494744;
}
a.gallery{
	font-family: sans-serif;
	text-align: left !important; 
	padding: 10px;
}
a.linkunderline{
	text-decoration: underline;
}
a:focus{
	outline: 3px dashed;
}
.headline{
	color: #1e4863;
	margin-top: 25vh;
	font-size: 4em;
	padding: 20px 20% 0px;
	margin-bottom: 20px;
}
.intro{
	line-height: 1.6;
	font-size: 1.2rem;
	color: #404040;
	padding: 4px 20px;
}
.date{
	font-size:1rem ;
	color: #565f5f;
}
.subhead{
	margin-top: 0;
	padding: 5vh 20px;
	font-size: 2.5rem;
}
.article{
	font-family: sans-serif;
	text-align: left;
	padding: 2px 4vw;
	font-size: large;
	line-height: 1.8rem;
}
section div img{
	width: 85%;
	padding: 2% 20px;
}
.chinese{
	letter-spacing: 0.6px;
}
.final::after{
	content: '';
	display: block;
	width: 70%;
	background: #a1a1a1;
	height: 1px;
	margin: 35px auto;
}
.intro::before{
	content: '';
	display: block;
	width: 70%;
	background: #a1a1a1;
	height: 1px;
	margin: 35px auto;
}
.first{
	background-color: #dfdbcf;
}
.second{
	background-color: #addae1;
}
.third{
	background-color: #e3d8f1;
}
footer{
	text-align: center;
	background-color: #e4e5d9;
	min-height: 20vh;
	display: flex;
	display: -webkit-flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: stretch;
}
footer div{
	margin: 0px 5%;
	padding: 5vh 3vw 0px;
	flex-grow: 1;
}
footer div img{
	transition: opacity 200ms;
	width: 100%;
}
footer div img:hover{
	opacity: 0.9;
}
@media (min-width: 900px){
	footer div{
		max-width: 20vw;
	}
}
@media (min-width: 400px)and (max-width: 900px) {
	section div{
		width:90%;
		padding-left: 5%;
	}
	.headline{
		font-size: 3em;
		padding: 20px 15%;
	}
	section div img{
		width: 90%;
		padding: 0;
	}
	footer div{
		max-width: 50%;
	}
}
@media (max-width: 400px){
	section div{
		width: 100%;
		padding-left: 0;
	}
	.headline{
		font-size: 3em;
		padding: 20px 5%;
	}
	.intro{
		line-height: 1.2;
		font-size: 1.1rem;
		color: #404040;
		padding: 2px 20px;
	}
	.subhead{
		font-size: 2rem;
	}
	section div img{
		width: 100%;
		padding: 0;
	}
	footer div{
		margin: 4vh 1%;
		padding-top: 2px;
		max-width: 80%;
	}
}
