body{
	margin: 0;
	background-color:#f2fcff;
}
div img{
	object-fit: cover;
	max-width: 100%;
	min-width: 100%;
	vertical-align: top;
	border-radius: 3px;
}
a:focus{
	outline: 3px dashed;
}
.textspan a{
    white-space: nowrap;
	font-weight: bold;
	color: grey;
	font-size: large;
	transition: color 200ms;
}
.textspan a:hover{
	color: #60b6bf;
}
.main{
	display: flex;
	flex-wrap: wrap;
}
.main::after{
	content: '';
	flex-grow: 999999999;
}
hr{
	text-align: center;
	width: 60%;
}
.top{
	height: 70vh;
	background-image: url(https://ae01.alicdn.com/kf/Hab01c817181542839d365bab388624c8D.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.topText{
	text-align: center;
	margin-top: 0;
	color: white;
	font-size: 22px;
}
div{
	flex-grow: 1;
	background-color: aliceblue;
	margin: 3px;
}
div:nth-last-child(4) ~ div {
	flex-grow: 0
}
.text{
	margin-top:20px;
	text-align: center;
	padding: 20px 2vw 20px;
	color: #646464;
}
.textspan{
	padding: 20px 10vw;
	width: 70vw;
}
@media only screen and (min-width:1000px) {
	div img, div{
        min-height: 40vh;
        max-height: 55vh;
	}
	.main{
		margin-top: 50px;
	}
	.topText{
		padding-top: 35vh;
	}
}
@media (max-width:1000px) and (min-width:700px){
	div img, div{
        min-height: 30vh;
        max-height: 45vh;
	}
	.main{
		margin-top: 20px;
	}
	.topText{
		padding-top: 35vh;
	}
}
@media (min-width:400px) and (max-width:700px){
	div, div img{
        min-height: 30vh;
        max-height:50vh;
	}
}
@media (max-width:700px){
	.top{
		background-image: none;
		background-color: #035dbe;
		height: 20vh;
	}
	.topText{
		color: white;
		margin-top: 0px;
		padding-top: 7vw;
	}
    div, div img{
        max-height: 70vh;
    }
}
summary{
	outline: none;
}
details > summary::-webkit-details-marker {
  display: none;
}
details[open] summary ~ * {
  animation: sweep .5s ease-in-out;
}
@keyframes sweep {
  0%    {opacity: 0; margin-left: -5%}
  100%  {opacity: 1; margin-left: 0px}
}
footer{
	font-size: 13px;
	padding: 10px;
	font-family:"Times New Roman";
	text-align: center;
	color: darkgray;
}